body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

div{
    padding: 8px 0px 0px 0px;
}
h1{
    padding: 20px 0px 0px 0px;
}

.form-control#datePicker{
    width: 200px;
}