<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Titulo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <!--<div class="container"></div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email Address" name="email">
        <input type="submit" class="btn btn-primary" value="Buscar" name="">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre" name="name">
        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscar">
    </div>-->
    <div class="container">
        <h1></h1>

            <img src="user.png" class="rounded" width="100" height="100"> 
            holaaaaaa
        </div>
    
        
        <h2></h2>
    </div>
    
    <div class="container">
        
        <div class="row">
            
                <div class="col-md-4 form-inline">
                    <form>
                        <input type="search" class="form-control" placeholder="Buscar por ID" name="txtID">
                        
                        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscar"> 
                         
                    </form>
                </div>

                <div class="col-md-4 form-inline">
                    <form>
                        <input type="search" class="form-control" placeholder="Buscar por Cédula" name="txtCedula">
                        
                        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscar"> 
                         
                    </form>
                </div>

                <div class="col-md-4 form-inline">
                    <form>
                        <select class="form-control" placeholder="DAKJDSKAJBSD">
                            <option value="1">Activo</option>
                            <option value="0">Incactivo</option>
                          </select>
                        <!--<select class="custom-select" id="inputGroupSelect04" value = "Buscar por Estado">
                            =<option selected>Buscar por Estado</option>=
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>-->
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </form>
                </div>
                
                
            

        </div>
            
           

        
      

        <h2>Titulo</h2>                                                                                    
        <div class="table-responsive">          
            <table class="table  col-md-12">
            <thead>
                <th>ID</th>
                <th>Nombre del Cliente</th>
                <th>Cedula del Cliente</th>
                <th>Estado</th>
                <th>Fecha de Registro</th>
            </thead>
            <tbody>
                <!--<tr>
                <td>1</td>
                <td>Anna</td>
                <td>Pitt</td>
                <td>35</td>
                <td>New York</td>
                <td>USA</td>
                </tr>-->
            </tbody>
            </table>
        </div>
    </div>
      
              
</body>
</html>