<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Titulo</title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/static/css/tramiteRegistrado.css">
</head>
<body>
    <br>
    <div class="container">
        <img src="/static/img/batman4.png" class="rounded" width="30" height="30"> 
        <font color="white">
            <label>{{.Usuario}}</label>
        </font> 
    
        <h2></h2>
    </div>
    
    <div class="container">
        <font color="white">
            <h1 align="center"> Trámite Registrado </h1>
        </font>
          
    
        <h2></h2>
    </div>
    
    <div class="container">
        
        <div class="row">
            
            <div class="card bg-dark" style="width:570px">
                <div class="card-body">
                    <font color="white">
                        <h4 align="center" class="card-title">Cliente</h4>
                        <p class="card-text">Nombre: {{.NombreCliente}}</p>
                        <p class="card-text">Cédula: {{.CedulaCliente}}</p>
                    </font>
                </div>
            </div>
            
            <div class="card bg-dark" style="width:570px">
                <div class="card-body">
                    <font color="white">
                        <h4 align="center" class="card-title">Tipo de Trámite</h4>
                        <p class="card-text">Descripción: {{.DescripcionTipoTramite}}</p>
                        <p class="card-text">Departamento: {{.NombreDepartamento}}</p>
                    </font>
                </div>
            </div>

        </div>
            
           

        
        
        <font color="white">
            <h2 id="reqPre">Requisitos Presentados</h2>    
        </font> 
        <div class= "row">
            <div class="table-responsive">          
                <table class="table  col-md-12 table-hover table-dark">
                <thead>
                    <th>Requisito</th>
                    <th>Fecha de Registro</th>
                    <th>Variacion</th>
                </thead>
                <tbody>
                    {{ range .Requisitos}}
                        <tr>
                            <td>{{ .NombreRequisito }}</td>
                            <td>{{ .FechaRegistro }}</td>
                            <td>{{ .DescripcionVariacion }}</td>
                        </tr>
                    {{ end}}
                </tbody>
                </table>
            </div>
            
        </div>     
        
        <font color="white">
            <h2>Notas</h2>     
        </font>
        <div class= "row">
            <div class="table-responsive">          
                <table class="table  col-md-12 table-hover table-dark">
                <thead>
                    <th>Título</th>
                    <th>Contenido</th>
                </thead>
                <tbody>
                    {{ range .Notas}}
                        <tr>
                            <td>{{ .Titulo }}</td>
                            <td>{{ .Contenido }}</td>
                        </tr>
                    {{ end}}
                </tbody>
                </table>
            </div>
            
        </div> 
        <font color="white">
            <h3>Cambios de Estado</h3>    
        </font>  
        <div class= "row">
            <div class="table-responsive">          
                <table class="table  col-md-12 table-hover table-dark">
                <thead>
                    <th>Estado</th>
                    <th>Descripcion</th>
                    <th>Usuario que lo registro</th>
                    <th>Fecha de Registro</th>
                </thead>
                <tbody>
                    {{ range .TramitesCambioEstados}}
                        <tr>
                            <td>{{ .NombreTramiteEstado }}</td>
                            <td>{{ .DescripcionTramiteEstado }}</td>
                            <td>{{ .NombreUsuario }}</td>
                            <td>{{ .FechaRegistro }}</td>
                        </tr>
                    {{ end}}
                </tbody>
                </table>
            </div>
            
        </div>  

        <div class= "row">
            <div class="card bg-dark" style="width:570px">
                <div class="card-body">
                    <font color="white">
                        <h4 align="center" class="card-title">Estado Actual</h4>
                        <p class="card-text">Estado: {{.EstadoActualNombre}}</p>
                        <p class="card-text">Descripcion: {{.DescripcionEstado}}</p>
                    </font>
                </div>
            </div>
            
            <div class="card bg-secondary" style="width:570px">
                <div class="card-body">
                    <font color="white">
                        <h4 align="center" class="card-title">Nuevo Estado</h4>
                        <form action=/guardarEstado method="POST">
                            <select class="form-control" name="cbxEstado">
                                <option value="Revisar">Revisar</option>
                                <option value="Anular">Anular</option>
                                <option value="Finalizar">Finalizar</option>
                                <option value="Entregar">Entregar</option>
                              </select>
                            <input type="search" class="form-control" placeholder="Descripcion" name="txtDescripcion">
                            <input type="submit" class="btn btn-primary" value="Guardar" name="btnGuardar"> 
                        </form>

                    </font>
                </div>
            </div>
            
        </div> 
    </div>
    <br>
    <br>
              
</body>
</html>