<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Tramites Registrados</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/tramites.css">
</head>
<body>
    <div class="container">
            <img src="/static/img/batman4.png" class="rounded" width="30" height="30"> 
            <font color="white">
                <label>{{.Usuario}}</label>
            </font> 
        </div>
        <h2></h2>
    </div>
    
    <div class="container">
        
        <div class="row">
            
                <div class="col-md-4 form-inline" id="filtros">
                    <form action=/buscarPorId method="POST">
                        <input type="search" class="form-control" placeholder="Buscar por ID" name="txtID">
                        
                        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscar"> 
                         
                    </form>
                </div>

                <div class="col-md-4 form-inline">
                    <form action=/buscarPorCedula method="POST">
                        <input type="search" class="form-control" placeholder="Buscar por Cédula" name="txtCedula">
                        
                        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscar"> 
                         
                    </form>
                </div>

                <div class="col-md-4 form-inline">
                    <form action=/buscarPorEstado method="POST">
                        <select class="form-control" name="cbxEstado">
                            <option value="En revision">En revision</option>
                            <option value="Anulado">Anulado</option>
                            <option value="Finalizado">Finalizado</option>
                            <option value="Atrasado">Atrasado</option>
                          </select>
                        <input type="submit" class="btn btn-primary" value="Buscar" name="btnBuscarE">
                    </form>
                </div>

                
                
            

        </div>
            
           

        
      
        <font color="white">
            <h1 align="center">Tramites Registrados</h1> 
        </font>                                                                                   
        <div class="table-responsive">          
            <table class="table  col-md-12 table-hover table-dark">
                <thead>
                    <th>ID</th>
                    <th>Nombre del Cliente</th>
                    <th>Cedula del Cliente</th>
                    <th>Tipo de Tramite</th>
                    <th>Estado</th>
                    <th>Fecha de Registro</th>
                </thead>
                <tbody>
                    {{ range .Tramites}}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .NombreCliente }}</td>
                            <td>{{ .CedulaCliente }}</td>
                            <td>{{ .TipoTramite }}</td>
                            <td>{{ .Estado }}</td>
                            <td>{{ .FechaRegistro }}</td>
                        </tr>
                    {{ end}}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 form-inline" id="filtros">
            <form action=/TramitesRegistrados method="POST">
                <input type="submit" class="btn btn-primary" value="Limpiar" name="btnLimpiar">                    
            </form>
        </div>
    </div>

    
      
              
</body>
</html>